/*Other*/
/*Fonts*/
body {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body h1, body h2, body h3, body h4, body h5 {
  color: #12194d;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body h1 {
  font-weight: 600;
  color: #28459D;
}

body a {
  color: #28459D;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body a:hover {
  color: rgba(40, 69, 157, 0.6);
}

body .card {
  border-color: rgba(40, 69, 157, 0.6);
  height: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #f9f9f9;
}

body .navbar {
  background: white;
  -webkit-box-shadow: 0 10px 20px -25px #121212;
          box-shadow: 0 10px 20px -25px #121212;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

@media screen and (max-width: 991px) {
  body .navbar {
    -webkit-box-shadow: 0 10px 20px -20px #121212;
            box-shadow: 0 10px 20px -20px #121212;
  }
}

body button.btn.btn-primary {
  padding: 10px 0;
  width: 200px;
  display: block;
  margin: auto;
  background-color: #28459D;
  border-color: #28459D;
}

body button.btn.btn-primary:hover {
  color: #28459D;
  background-color: white;
}

body button.btn.btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body header nav {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

body header nav .navbar-nav a.nav-link {
  padding: 0 50px;
  font-family: 'Montserrat', sans-serif;
  color: #28459D;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 1.1rem;
}

body header nav .navbar-nav a.nav-link:hover {
  color: rgba(40, 69, 157, 0.6);
}

body header nav .mobo-toggle {
  position: relative;
  width: 26px;
  height: 22px;
  display: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

body header nav .mobo-toggle div {
  width: 26px;
  height: 4px;
  background: #28459D;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body header nav .mobo-toggle div.top {
  top: 0;
}

body header nav .mobo-toggle div.mid {
  top: 0;
  bottom: 0;
}

body header nav .mobo-toggle div.bot {
  bottom: 0;
}

@media screen and (max-width: 991px) {
  body header nav .mobo-toggle {
    display: block;
  }
}

body header nav a.nav-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  padding: 0 40px;
  position: relative;
  font-weight: 600;
}

body header nav a.nav-name:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: -15px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-radius: 50%;
  border: transparent dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body header nav a.nav-name:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-radius: 50%;
  border: transparent dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body header nav a.nav-name:hover:before {
  -webkit-animation: hoverSpin 8s linear infinite;
          animation: hoverSpin 8s linear infinite;
  width: 30px;
  height: 30px;
  border-color: #28459D;
}

body header nav a.nav-name:hover:after {
  animation: hoverSpin 5s linear reverse infinite;
  width: 20px;
  height: 20px;
  border-color: #28459D;
}

@media screen and (max-width: 991px) {
  body header nav {
    padding: 0 15px;
  }
  body header nav .nav-right {
    margin-left: auto;
  }
  body header nav .navbar-collapse {
    position: fixed;
    z-index: 101;
    top: 46px;
    display: block !important;
    background-color: white;
    height: 100vh;
    width: calc(100vw - 60px);
    max-width: 400px;
    padding-top: 20px;
    opacity: 0;
    pointer-events: none;
    left: -100vw;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  body header nav .navbar-collapse a.nav-name {
    display: none;
  }
  body header nav .navbar-collapse ul .nav-link {
    padding: 10px 15px;
  }
}

body header .socials {
  text-align: right;
  padding-top: 3px;
  padding-right: 20px;
  border-right: 2px #121212 solid;
}

@media screen and (max-width: 991px) {
  body header .socials {
    padding-right: 13px;
  }
}

body header .socials i {
  color: #28459D;
  -webkit-transition: 0.3s ease color;
  transition: 0.3s ease color;
  font-size: 1.5rem;
}

body header .socials a {
  margin: 0 10px;
}

@media screen and (max-width: 991px) {
  body header .socials a {
    margin: 0 5px;
  }
}

body header .socials a:last-of-type {
  margin-right: 0;
}

body header .socials a:hover i {
  color: rgba(40, 69, 157, 0.6);
}

body header .toggle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 15px;
}

@media screen and (max-width: 991px) {
  body header .toggle-wrap {
    padding-left: 8px;
  }
}

body header .toggle-wrap i {
  vertical-align: middle;
  color: #28459D;
  -webkit-transition: 0.4s ease color;
  transition: 0.4s ease color;
  font-size: 1.7rem;
}

body header .toggle-wrap i.darkIcon {
  color: rgba(40, 69, 157, 0.6);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body header .toggle-wrap i.lightIcon {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body header .toggle-wrap .modeToggle {
  width: 42px;
  height: 26px;
  border-radius: 13px;
  margin: 0 10px;
  border: none;
  background: rgba(40, 69, 157, 0.6);
  cursor: pointer;
  padding: 0;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 991px) {
  body header .toggle-wrap .modeToggle {
    margin: 0 5px;
  }
}

body header .toggle-wrap .modeToggle .toggleInner {
  position: relative;
  margin: 3px;
  width: 38px;
  height: 20px;
}

body header .toggle-wrap .modeToggle .toggleInner .toggleCircle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .toggle-wrap .modeToggle .toggleInner .toggleCircle:after {
  content: '';
  display: block;
  width: 8px;
  height: 0;
  border-top: 1px #28459D solid;
  border-bottom: 1px #28459D solid;
  -webkit-transition: 0.4s ease border;
  transition: 0.4s ease border;
}

body header .toggle-wrap .modeToggle:hover {
  background: #ffb7c5;
}

body header .toggle-wrap .modeToggle:hover ~ i.lightIcon {
  color: #ffb7c5;
}

body header .toggle-wrap .modeToggle:hover .toggleCircle:after {
  border-top: 1px #ffb7c5 solid;
  border-bottom: 1px #ffb7c5 solid;
}

body main {
  padding-top: 70px;
  padding-bottom: 25px;
  min-height: 100vh;
  height: 100%;
}

body main section:before {
  height: 70px;
  content: "";
  display: block;
}

@media screen and (max-width: 991px) {
  body main .bio-block > .row {
    display: block;
  }
}

body main .head-wrap {
  border-radius: 50%;
  width: 425px;
  height: 425px;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(40, 69, 157, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(40, 69, 157, 0.6);
}

body main .head-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1199px) {
  body main .head-wrap {
    width: 325px;
    height: 325px;
  }
}

@media screen and (max-width: 991px) {
  body main .head-wrap {
    margin: auto;
  }
}

@media screen and (max-width: 370px) {
  body main .head-wrap {
    width: 275px;
    height: 275px;
  }
}

body main .bio-text {
  width: calc(100% - 425px);
  padding-left: 75px;
  font-size: 1.1rem;
}

@media screen and (max-width: 1199px) {
  body main .bio-text {
    width: calc(100% - 325px);
  }
}

@media screen and (max-width: 991px) {
  body main .bio-text {
    width: 100%;
    padding: 1rem 15px;
    margin-top: 10px;
    text-align: justify;
  }
}

body main .bio-text .cta-wrap {
  position: relative;
  width: 240px;
}

@media screen and (max-width: 991px) {
  body main .bio-text .cta-wrap {
    margin: auto;
  }
}

body main .bio-text .cta-wrap a {
  z-index: 2;
  position: relative;
}

body main .bio-text .cta-wrap:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .bio-text .cta-wrap:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -27px;
  top: 0;
  bottom: 0;
  width: 54px;
  height: 54px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .bio-text .cta-wrap:hover:before {
  -webkit-animation: hoverSpin 8s linear infinite;
          animation: hoverSpin 8s linear infinite;
}

body main .bio-text .cta-wrap:hover:after {
  animation: hoverSpin 5s linear reverse infinite;
}

body main .bio-text .resume-cta {
  color: white;
  display: block;
  width: 240px;
  margin: 30px 0 0;
  background: #28459D;
  padding: 10px 15px;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #28459D;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .bio-text .resume-cta i {
  margin-left: 10px;
}

body main .bio-text .resume-cta:hover {
  color: #28459D;
  background-color: white;
}

body main .contact-block .contact-wrapper a {
  text-decoration: none;
  background: #28459D;
  border: 3px solid #28459D;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .contact-block .contact-wrapper a h3 {
  color: white;
  font-size: 1.4rem;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .contact-block .contact-wrapper a i {
  color: white;
  margin-top: 15px;
  font-size: 2.4rem;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .contact-block .contact-wrapper a:hover {
  background: white;
}

body main .contact-block .contact-wrapper a:hover h3 {
  color: #28459D;
}

body main .contact-block .contact-wrapper a:hover i {
  color: #28459D;
}

body main .section-sub-header {
  font-size: 1.2rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  body main .section-sub-header {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

body main .skills-block .skill-wrapper .col-lg-4:first-of-type .card:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
}

body main .skills-block .skill-wrapper .col-lg-4:first-of-type .card:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .skills-block .skill-wrapper .col-lg-4:last-of-type .card:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  right: -25px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .skills-block .highlighted-skills i {
  height: 60px;
  width: auto;
  font-size: 2.8rem;
  padding-bottom: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .skills-block .highlighted-skills i.fa-html5 {
  color: #D94924;
}

body main .skills-block .highlighted-skills i.fa-css3-alt {
  color: #0068B1;
}

body main .skills-block .highlighted-skills i.fa-js-square {
  color: #F28F2B;
}

body main .skills-block .highlighted-skills i.fa-git-alt {
  color: #E44C30;
}

body main .skills-block .highlighted-skills i.fa-figma {
  color: #000000;
}

body main .skills-block .highlighted-skills i.fa-invision {
  color: #F2305F;
}

body main .skills-block .highlighted-skills i.fa-python {
  color: #356895;
}

body main .skills-block .highlighted-skills i svg {
  height: 40px;
  width: auto;
  vertical-align: top;
}

@media screen and (max-width: 991px) {
  body main .edu-block > .row > .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  body main .edu-block > .row > .col-lg-6:last-of-type {
    margin-top: 50px !important;
  }
  body main .edu-block .edu-body {
    text-align: justify;
  }
}

body main .edu-block .cta-wrap {
  position: relative;
  width: 200px;
  margin: auto;
}

body main .edu-block .cta-wrap:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  right: -25px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .edu-block .cta-wrap:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  right: -15px;
  bottom: -15px;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body main .edu-block .cta-wrap:hover:before {
  -webkit-animation: hoverSpin 8s linear infinite;
          animation: hoverSpin 8s linear infinite;
}

body main .edu-block .cta-wrap:hover:after {
  animation: hoverSpin 5s linear reverse infinite;
}

body main .edu-block .col-lg-6:last-of-type .cta-wrap:before {
  right: -10px;
  bottom: -10px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 991px) {
  body main .projects-block .projects-wrapper {
    padding: 0;
  }
}

body main .projects-block .project-thumb {
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem 0.25rem 0 0;
  background: #121212;
}

body main .projects-block .project-thumb.ck-thumb img {
  padding: 40px;
}

body main .projects-block .project-thumb img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 101%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  body main .projects-block .project-desc {
    text-align: justify;
  }
}

body main .projects-block .cta-wrap {
  position: relative;
  width: 200px;
  margin: auto;
}

body main .projects-block .cta-wrap button {
  z-index: 2;
  position: relative;
}

body main .projects-block .cta-wrap:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: -15px;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
}

body main .projects-block .cta-wrap:hover:before {
  -webkit-animation: hoverSpin 8s linear infinite;
          animation: hoverSpin 8s linear infinite;
}

body main .projects-block .cta-wrap:hover:after {
  animation: hoverSpin 5s linear reverse infinite;
}

@media screen and (max-width: 991px) {
  body main .contact-block .contact-wrapper {
    display: block;
    margin: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  body main .contact-block .contact-wrapper .col-md-4 {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

body main .contact-block .contact-wrapper .col-md-4 .card {
  overflow: hidden;
}

body main .contact-block .contact-wrapper .col-md-4 .card:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: -60px;
  bottom: -60px;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
}

body main .contact-block .contact-wrapper .col-md-4 .card:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: -40px;
  bottom: -40px;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: #28459D dashed 1px;
}

body main .contact-block .contact-wrapper .col-md-4 .card:hover:before {
  -webkit-animation: hoverSpin 8s linear infinite;
          animation: hoverSpin 8s linear infinite;
}

body main .contact-block .contact-wrapper .col-md-4 .card:hover:after {
  animation: hoverSpin 5s linear reverse infinite;
}

body main .contact-block .contact-wrapper .col-md-4:first-of-type .card:after {
  left: -60px;
  right: auto;
  top: -60px;
  bottom: auto;
  width: 120px;
  height: 120px;
}

body main .contact-block .contact-wrapper .col-md-4:first-of-type .card:before {
  right: -20px;
  bottom: -20px;
  width: 40px;
  height: 40px;
}

body main .contact-block .contact-wrapper .col-md-4:last-of-type .card:after {
  right: -30px;
  left: auto;
  top: -30px;
  bottom: auto;
  width: 60px;
  height: 60px;
}

body main .contact-block .contact-wrapper .col-md-4:last-of-type .card:before {
  right: -40px;
  left: auto;
  top: -40px;
  bottom: auto;
  width: 80px;
  height: 80px;
}

body main .slick-prev:before, body main .slick-next:before {
  color: #28459D;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 28px;
}

@media screen and (max-width: 991px) {
  body main .slick-prev {
    left: -5px;
    z-index: 10;
  }
  body main .slick-next {
    right: 5px;
    z-index: 10;
  }
  body main .slick-prev:before, body main .slick-next:before {
    opacity: 1;
  }
}

body main .slick-dots {
  width: calc(100% - 24px);
}

body main .slick-dots li.slick-active button:before {
  color: #28459D;
}

body main .slick-dots li button:before {
  color: #28459D;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body .modal .btn-close {
  background: none;
  position: relative;
}

body .modal .btn-close:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 2px;
  background: #28459D;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .modal .btn-close:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 2px;
  background: #28459D;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .modal .btn-close:hover:before {
  background-color: rgba(40, 69, 157, 0.6);
}

body .modal .btn-close:hover:after {
  background-color: rgba(40, 69, 157, 0.6);
}

body .modal .btn.btn-primary {
  padding: 10px 0;
  width: 240px;
  display: block;
  margin: auto;
  background-color: #28459D;
  border-color: #28459D;
}

body .modal .btn.btn-primary:hover {
  color: #28459D;
  background-color: white;
}

body .modal .btn.btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .modal .modal-dialog {
  max-width: 800px;
}

body .modal .modal-content {
  background-color: #f9f9f9;
  border-color: rgba(40, 69, 157, 0.6);
}

body .modal .modal-content img {
  width: 100%;
}

body .modal .modal-header {
  border-bottom: none;
}

body .modal .modal-header h5.modal-title {
  opacity: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body .modal .modal-body .modal-loading {
  margin: 20px auto 60px;
  text-align: center;
}

body .modal .modal-body .modal-loading svg rect {
  fill: #f9f9f9;
}

body .modal .modal-body .modal-loading svg path {
  fill: rgba(40, 69, 157, 0.6);
}

body .modal .modal-body .modal-loading svg path:first-of-type {
  fill: #28459D;
}

body .modal.loaded h5.modal-title {
  opacity: 1;
}

body .modal.loaded .modal-loading {
  display: none;
}

body footer {
  width: 100%;
}

body footer .footNote {
  font-size: 0.7rem;
  color: #121212;
  text-align: center;
  padding: 10px 0;
}

body footer .footNote .highlight {
  font-size: 0.9rem;
  color: #12194d;
}

body .mobo-overlay {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  body .mobo-overlay {
    display: block;
  }
}

.background {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.background .seigaiha {
  position: absolute;
  max-width: 500px;
  width: calc((100vw - 1240px)/2);
  pointer-events: none;
  right: 0;
  bottom: 0;
}

.background svg {
  fill: none;
  stroke: rgba(40, 69, 157, 0.6);
  stroke-width: 2px;
  stroke-dasharray: 15 5;
  stroke-dashoffset: 0;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.background svg .animateFwd {
  -webkit-animation: bgAnimateFwd 2.5s linear forwards;
          animation: bgAnimateFwd 2.5s linear forwards;
}

.background svg .animateBwd {
  -webkit-animation: bgAnimateBwd 2.5s linear backwards;
          animation: bgAnimateBwd 2.5s linear backwards;
}

@media screen and (max-width: 1800px) {
  .background .seigaiha {
    width: 300px;
  }
  .background .seigaiha .hide-first {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .background .seigaiha {
    width: 200px;
  }
}

@media screen and (max-height: 900px) {
  .background .seigaiha .hide-height {
    display: none;
  }
}

@-webkit-keyframes bgAnimateFwd {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes bgAnimateFwd {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes bgAnimateFwd {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes hoverSpin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes hoverSpin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body.dark {
  background-color: #12194d;
  color: rgba(255, 255, 255, 0.87);
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5 {
  color: #c27685;
}

body.dark a {
  color: #ffb7c5;
}

body.dark a:hover {
  color: rgba(255, 183, 197, 0.6);
}

body.dark .card {
  border-color: rgba(255, 183, 197, 0.6);
  background-color: #201f5a;
}

body.dark .navbar {
  background: #12194d;
  -webkit-box-shadow: 0 10px 20px -25px #ffb7c5;
          box-shadow: 0 10px 20px -25px #ffb7c5;
}

@media screen and (max-width: 991px) {
  body.dark .navbar {
    -webkit-box-shadow: 0 10px 20px -20px #ffb7c5;
            box-shadow: 0 10px 20px -20px #ffb7c5;
  }
}

body.dark button.btn.btn-primary {
  background-color: #c27685;
  border-color: #c27685;
  color: #121212;
}

body.dark button.btn.btn-primary:hover {
  color: #ffb7c5;
  border-color: #ffb7c5;
  background-color: #12194d;
}

body.dark header nav .navbar-nav a.nav-link {
  color: #ffb7c5;
}

body.dark header nav .navbar-nav a.nav-link:hover {
  color: rgba(255, 183, 197, 0.6);
}

body.dark header nav .mobo-toggle div {
  background-color: #ffb7c5;
}

body.dark header nav a.nav-name:hover:before {
  border-color: #ffb7c5;
}

body.dark header nav a.nav-name:hover:after {
  border-color: #ffb7c5;
}

@media screen and (max-width: 991px) {
  body.dark header nav .navbar-collapse {
    background-color: #12194d;
  }
}

body.dark header .socials {
  border-color: rgba(255, 255, 255, 0.87);
}

body.dark header .socials i {
  color: #ffb7c5;
}

body.dark header .socials a:hover i {
  color: rgba(255, 183, 197, 0.6);
}

body.dark header .toggle-wrap i {
  color: #ffb7c5;
}

body.dark header .toggle-wrap i.lightIcon {
  color: rgba(255, 183, 197, 0.6);
}

body.dark header .toggle-wrap .modeToggle {
  background: rgba(255, 183, 197, 0.6);
}

body.dark header .toggle-wrap .modeToggle .toggleInner .toggleCircle {
  left: calc(100% - 22px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.dark header .toggle-wrap .modeToggle .toggleInner .toggleCircle:after {
  border-top: 1px #c27685 solid;
  border-bottom: 1px #c27685 solid;
  -webkit-transition: 0.4s ease border;
  transition: 0.4s ease border;
}

body.dark header .toggle-wrap .modeToggle:hover {
  background: #90ACCB;
}

body.dark header .toggle-wrap .modeToggle:hover ~ i.lightIcon {
  color: rgba(255, 183, 197, 0.6);
}

body.dark header .toggle-wrap .modeToggle:hover ~ i.darkIcon {
  color: #90ACCB;
}

body.dark header .toggle-wrap .modeToggle:hover .toggleCircle:after {
  border-top: 1px #90ACCB solid;
  border-bottom: 1px #90ACCB solid;
}

body.dark main .head-wrap {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(255, 183, 197, 0.6);
          box-shadow: 0px 0px 30px 5px rgba(255, 183, 197, 0.6);
}

body.dark main .bio-text .cta-wrap:after {
  border-color: #ffb7c5;
}

body.dark main .bio-text .cta-wrap:before {
  border-color: #ffb7c5;
}

body.dark main .bio-text .resume-cta {
  color: #12194d;
  background: #c27685;
  border: 3px solid #c27685;
}

body.dark main .bio-text .resume-cta:hover {
  color: #ffb7c5;
  border-color: #ffb7c5;
  background-color: #12194d;
}

body.dark main .contact-block .contact-wrapper a {
  background: #c27685;
  border-color: #c27685;
}

body.dark main .contact-block .contact-wrapper a h3 {
  color: #12194d;
}

body.dark main .contact-block .contact-wrapper a i {
  color: #12194d;
}

body.dark main .contact-block .contact-wrapper a:hover {
  background: #12194d;
  border-color: #ffb7c5;
}

body.dark main .contact-block .contact-wrapper a:hover h3 {
  color: #ffb7c5;
}

body.dark main .contact-block .contact-wrapper a:hover i {
  color: #ffb7c5;
}

body.dark main .skills-block .skill-wrapper .col-lg-4:first-of-type .card:after {
  border-color: #ffb7c5;
}

body.dark main .skills-block .skill-wrapper .col-lg-4:first-of-type .card:before {
  border-color: #ffb7c5;
}

body.dark main .skills-block .skill-wrapper .col-lg-4:last-of-type .card:after {
  border-color: #ffb7c5;
}

body.dark main .skills-block .highlighted-skills i.fa-figma {
  color: rgba(255, 255, 255, 0.87);
}

body.dark main .skills-block .highlighted-skills i[data-bs-original-title="Google Analytics"] g:not(#g6628) path {
  fill: rgba(255, 255, 255, 0.87) !important;
}

body.dark main .skills-block .highlighted-skills i svg {
  height: 40px;
  width: auto;
  vertical-align: top;
}

body.dark main .edu-block .cta-wrap:after {
  border-color: #ffb7c5;
}

body.dark main .edu-block .cta-wrap:before {
  border-color: #ffb7c5;
}

body.dark main .projects-block .project-thumb {
  background-color: #201f5a;
}

body.dark main .projects-block .cta-wrap:after {
  border-color: #ffb7c5;
}

body.dark main .contact-block .contact-wrapper .col-md-4 .card:after {
  border-color: #c27685;
}

body.dark main .contact-block .contact-wrapper .col-md-4 .card:before {
  border-color: #c27685;
}

body.dark main .contact-block .contact-wrapper .col-md-4 .card:hover:before {
  border-color: #ffb7c5;
}

body.dark main .contact-block .contact-wrapper .col-md-4 .card:hover:after {
  border-color: #ffb7c5;
}

body.dark main .slick-prev:before, body.dark main .slick-next:before {
  color: #ffb7c5;
}

body.dark main .slick-dots li.slick-active button:before {
  color: #ffb7c5;
}

body.dark main .slick-dots li button:before {
  color: #ffb7c5;
}

body.dark .modal .btn-close:before {
  background-color: #ffb7c5;
}

body.dark .modal .btn-close:after {
  background-color: #ffb7c5;
}

body.dark .modal .btn-close:hover:before {
  background-color: rgba(255, 183, 197, 0.6);
}

body.dark .modal .btn-close:hover:after {
  background-color: rgba(255, 183, 197, 0.6);
}

body.dark .modal .btn.btn-primary {
  background-color: #c27685;
  border-color: #c27685;
  color: #12194d;
}

body.dark .modal .btn.btn-primary:hover {
  color: #ffb7c5;
  background-color: #12194d;
  border-color: #ffb7c5;
}

body.dark .modal .modal-content {
  background-color: #201f5a;
  border-color: rgba(255, 183, 197, 0.6);
}

body.dark .modal .modal-header h5.modal-title {
  color: #c27685;
}

body.dark .modal .modal-body .modal-loading svg rect {
  fill: #201f5a;
}

body.dark .modal .modal-body .modal-loading svg path {
  fill: rgba(255, 183, 197, 0.6);
}

body.dark .modal .modal-body .modal-loading svg path:first-of-type {
  fill: #ffb7c5;
}

body.dark footer .footNote {
  color: rgba(255, 255, 255, 0.87);
}

body.dark footer .footNote .highlight {
  color: #ffb7c5;
}

body.dark .background svg {
  stroke: #ffb7c5;
}

body.show-menu header nav .mobo-toggle {
  border-radius: 0;
}

body.show-menu header nav .mobo-toggle div.top {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

body.show-menu header nav .mobo-toggle div.mid {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body.show-menu header nav .mobo-toggle div.bot {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
  body.show-menu header nav .navbar-collapse {
    opacity: 1;
    pointer-events: all;
    left: 0;
  }
}

body.show-menu .mobo-overlay {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */